html{
  min-height: 100%;
}

body{
    background-image: url('../img/vuyaniCopy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    vertical-align: middle
}

.articles{
  background-image: url('../img/sketch-bg.png');
}

.headtext{
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    font-weight: 600;
    line-height: 85px;
    margin-top:250px;
    margin-left:30px;
}

.description{
    width:400px;
    margin-left:30px;
    font-family: 'Roboto', sans-serif;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

.highlighted{
  background: #ffb7b7;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.9s;
    padding-top: 60px;
    font-family: 'Roboto', sans-serif;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #111;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    /*color: #f1f1f1;*/
    text-decoration: underline;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (min-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    
  }

  @media only screen and (max-width: 600px){
    .sidenav {padding-top: 15px;background-color: #ffb7b7}
    body{
      margin: 0;
      height: 100%;
      min-height: 100%;
      background-image: url('../img/vuyaniCopy.jpg');
      background-repeat: no-repeat;
      /*background-size:auto 100%;*/
      background-position: 30% 0%;
      vertical-align: top;
    }
    .headtext{
      font-size: 30px;
      line-height: 30px;
      margin-top:100px;
    }
    .description{
      max-width: 150px;
      font-size: 11px;
    }
    
  
  }

  .icon{
      position: absolute;
      top:30px;
      right: 60px;
  }